<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.i1314i.ourproject.mapper.ShiChangXinXiMapper">
  <resultMap id="BaseResultMap" type="com.i1314i.ourproject.po.javabean.ShiChangXinXi">
    <id column="zuo_wu_id" jdbcType="INTEGER" property="zuoWuId" />
    <result column="zuo_wu_ming_cheng" jdbcType="VARCHAR" property="zuoWuMingCheng" />
    <result column="zhong_zhi_mian_ji" jdbcType="DOUBLE" property="zhongZhiMianJi" />
    <result column="beiyong1" jdbcType="DOUBLE" property="beiyong1" />
    <result column="beiyong2" jdbcType="DOUBLE" property="beiyong2" />
    <result column="beiyong3" jdbcType="VARCHAR" property="beiyong3" />
    <result column="danwei" jdbcType="VARCHAR" property="danwei" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    zuo_wu_id, zuo_wu_ming_cheng, zhong_zhi_mian_ji, beiyong1, beiyong2, beiyong3, danwei
  </sql>
  <select id="selectByExample" parameterType="com.i1314i.ourproject.po.javabean.ShiChangXinXiExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shi_chang_xin_xi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shi_chang_xin_xi
    where zuo_wu_id = #{zuoWuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shi_chang_xin_xi
    where zuo_wu_id = #{zuoWuId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.i1314i.ourproject.po.javabean.ShiChangXinXiExample">
    delete from shi_chang_xin_xi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.i1314i.ourproject.po.javabean.ShiChangXinXi">
    insert into shi_chang_xin_xi (zuo_wu_id, zuo_wu_ming_cheng, zhong_zhi_mian_ji, 
      beiyong1, beiyong2, beiyong3, 
      danwei)
    values (#{zuoWuId,jdbcType=INTEGER}, #{zuoWuMingCheng,jdbcType=VARCHAR}, #{zhongZhiMianJi,jdbcType=DOUBLE}, 
      #{beiyong1,jdbcType=DOUBLE}, #{beiyong2,jdbcType=DOUBLE}, #{beiyong3,jdbcType=VARCHAR}, 
      #{danwei,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.i1314i.ourproject.po.javabean.ShiChangXinXi">
    insert into shi_chang_xin_xi
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="zuoWuId != null">
        zuo_wu_id,
      </if>
      <if test="zuoWuMingCheng != null">
        zuo_wu_ming_cheng,
      </if>
      <if test="zhongZhiMianJi != null">
        zhong_zhi_mian_ji,
      </if>
      <if test="beiyong1 != null">
        beiyong1,
      </if>
      <if test="beiyong2 != null">
        beiyong2,
      </if>
      <if test="beiyong3 != null">
        beiyong3,
      </if>
      <if test="danwei != null">
        danwei,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="zuoWuId != null">
        #{zuoWuId,jdbcType=INTEGER},
      </if>
      <if test="zuoWuMingCheng != null">
        #{zuoWuMingCheng,jdbcType=VARCHAR},
      </if>
      <if test="zhongZhiMianJi != null">
        #{zhongZhiMianJi,jdbcType=DOUBLE},
      </if>
      <if test="beiyong1 != null">
        #{beiyong1,jdbcType=DOUBLE},
      </if>
      <if test="beiyong2 != null">
        #{beiyong2,jdbcType=DOUBLE},
      </if>
      <if test="beiyong3 != null">
        #{beiyong3,jdbcType=VARCHAR},
      </if>
      <if test="danwei != null">
        #{danwei,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.i1314i.ourproject.po.javabean.ShiChangXinXiExample" resultType="java.lang.Long">
    select count(*) from shi_chang_xin_xi
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shi_chang_xin_xi
    <set>
      <if test="record.zuoWuId != null">
        zuo_wu_id = #{record.zuoWuId,jdbcType=INTEGER},
      </if>
      <if test="record.zuoWuMingCheng != null">
        zuo_wu_ming_cheng = #{record.zuoWuMingCheng,jdbcType=VARCHAR},
      </if>
      <if test="record.zhongZhiMianJi != null">
        zhong_zhi_mian_ji = #{record.zhongZhiMianJi,jdbcType=DOUBLE},
      </if>
      <if test="record.beiyong1 != null">
        beiyong1 = #{record.beiyong1,jdbcType=DOUBLE},
      </if>
      <if test="record.beiyong2 != null">
        beiyong2 = #{record.beiyong2,jdbcType=DOUBLE},
      </if>
      <if test="record.beiyong3 != null">
        beiyong3 = #{record.beiyong3,jdbcType=VARCHAR},
      </if>
      <if test="record.danwei != null">
        danwei = #{record.danwei,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shi_chang_xin_xi
    set zuo_wu_id = #{record.zuoWuId,jdbcType=INTEGER},
      zuo_wu_ming_cheng = #{record.zuoWuMingCheng,jdbcType=VARCHAR},
      zhong_zhi_mian_ji = #{record.zhongZhiMianJi,jdbcType=DOUBLE},
      beiyong1 = #{record.beiyong1,jdbcType=DOUBLE},
      beiyong2 = #{record.beiyong2,jdbcType=DOUBLE},
      beiyong3 = #{record.beiyong3,jdbcType=VARCHAR},
      danwei = #{record.danwei,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.i1314i.ourproject.po.javabean.ShiChangXinXi">
    update shi_chang_xin_xi
    <set>
      <if test="zuoWuMingCheng != null">
        zuo_wu_ming_cheng = #{zuoWuMingCheng,jdbcType=VARCHAR},
      </if>
      <if test="zhongZhiMianJi != null">
        zhong_zhi_mian_ji = #{zhongZhiMianJi,jdbcType=DOUBLE},
      </if>
      <if test="beiyong1 != null">
        beiyong1 = #{beiyong1,jdbcType=DOUBLE},
      </if>
      <if test="beiyong2 != null">
        beiyong2 = #{beiyong2,jdbcType=DOUBLE},
      </if>
      <if test="beiyong3 != null">
        beiyong3 = #{beiyong3,jdbcType=VARCHAR},
      </if>
      <if test="danwei != null">
        danwei = #{danwei,jdbcType=VARCHAR},
      </if>
    </set>
    where zuo_wu_id = #{zuoWuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.i1314i.ourproject.po.javabean.ShiChangXinXi">
    update shi_chang_xin_xi
    set zuo_wu_ming_cheng = #{zuoWuMingCheng,jdbcType=VARCHAR},
      zhong_zhi_mian_ji = #{zhongZhiMianJi,jdbcType=DOUBLE},
      beiyong1 = #{beiyong1,jdbcType=DOUBLE},
      beiyong2 = #{beiyong2,jdbcType=DOUBLE},
      beiyong3 = #{beiyong3,jdbcType=VARCHAR},
      danwei = #{danwei,jdbcType=VARCHAR}
    where zuo_wu_id = #{zuoWuId,jdbcType=INTEGER}
  </update>
</mapper>