<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.i1314i.ourproject.mapper.SoilTypeDistributionMapper">
  <resultMap id="BaseResultMap" type="com.i1314i.ourproject.po.javabean.SoilTypeDistribution">
    <id column="leixing_id" jdbcType="VARCHAR" property="leixingId" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="region" jdbcType="VARCHAR" property="region" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    leixing_id, type, region
  </sql>
  <select id="selectByExample" parameterType="com.i1314i.ourproject.po.javabean.SoilTypeDistributionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from soil_type_distribution
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from soil_type_distribution
    where leixing_id = #{leixingId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from soil_type_distribution
    where leixing_id = #{leixingId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.i1314i.ourproject.po.javabean.SoilTypeDistributionExample">
    delete from soil_type_distribution
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.i1314i.ourproject.po.javabean.SoilTypeDistribution">
    insert into soil_type_distribution (leixing_id, type, region
      )
    values (#{leixingId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{region,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.i1314i.ourproject.po.javabean.SoilTypeDistribution">
    insert into soil_type_distribution
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="leixingId != null">
        leixing_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="region != null">
        region,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="leixingId != null">
        #{leixingId,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        #{region,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.i1314i.ourproject.po.javabean.SoilTypeDistributionExample" resultType="java.lang.Long">
    select count(*) from soil_type_distribution
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update soil_type_distribution
    <set>
      <if test="record.leixingId != null">
        leixing_id = #{record.leixingId,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.region != null">
        region = #{record.region,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update soil_type_distribution
    set leixing_id = #{record.leixingId,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      region = #{record.region,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.i1314i.ourproject.po.javabean.SoilTypeDistribution">
    update soil_type_distribution
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=VARCHAR},
      </if>
    </set>
    where leixing_id = #{leixingId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.i1314i.ourproject.po.javabean.SoilTypeDistribution">
    update soil_type_distribution
    set type = #{type,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR}
    where leixing_id = #{leixingId,jdbcType=VARCHAR}
  </update>
</mapper>